<div class="dsui-welcome">
	<div class="dsui-welcome-label text-center"><span data-i18n="_HomeWelcomeLabel_"></span></div>
	<p class="clearfix"/>
	<p class="clearfix"/>
	<p class="clearfix"/>
	<p class="clearfix"/>
	<div class="dsui-welcome-txt text-center"><span data-i18n="_HomeWelcomeText_"></span></div>
	<p class="clearfix"/>
	<p class="clearfix"/>
	<p class="clearfix"/>
	<p class="clearfix"/>
	<div class="text-center">
    <button type="button" class="btn btn-primary dsui-next-btn" value="next" data-ng-click="wc.fnStartWorkflow();" data-i18n="_NextLabel_" ></button>
  </div>
</div>
